 <footer>
   <div class="footer bg-dark-lighter">
    <div class="container">
     <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mobile-adaptive-footer">
       <img class="footer-seal" src="assets/images/logo/seal.png" alt="">
     </div>
     <div class="col-12 col-md-6 col-lg-3 mobile-adaptive-footer">
       <h6 class="heading-uppercase">Useful Links</h6>
       <ul class="list-icon">
        <li><a href="about-us">About us</a></li>
        <li><a href="get-certified-b">Get certified</a></li>
        <li><a href="terms-and-conditions">Terms & conditions</a></li>
        <li><a href="privacy-policy">Privacy policy</a></li>
        <li><a href="imprint">Imprint</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3 mobile-adaptive-footer">
     <h6 class="heading-uppercase">Contact Info</h6>
     <ul class="list-unstyled">
      <li>Fichtenrain 82, 4106 Therwil, Switzerland</li>
      <li>info@leafcheck.io</li>
      <li>+49 152 21307315</li>
    </ul>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mobile-adaptive-footer">
   <div id="map-canvas" data-latitude="47.499643" data-longitude="7.5639089"></div>
 </div>
</div><!-- end row -->
</div><!-- end container -->
</div><!-- end footer -->
</footer>
